html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #fa5a5a, #e7723c, #d52323, #d59723);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

#header{
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 14px;
    min-height: 40px;
    text-align: center;
    position: relative;
    right: 50px;
}

#header2{
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 14px;
    min-height: 40px;
    text-align: center;
    position: relative;
    right: 50px;
}
#another{
    width: 110px;
    background-color:white;
    color:#ffffff;
    border-color:#a62626;
    font-weight:500;
    letter-spacing:2px;
    border:solid;
    border-radius:5px;
    border-width:1px;
    position: relative;
    right: 50px;
    padding: 10px;
    text-align: center;
  }